
<html>
   <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    
    <script>
    
function room(){
    window.location.replace("/rooms")
}
function student(){
    window.location.replace("/students")
}
    </script>

    <body>
<button type="submit" onClick="room()">All Rooms</button>
<button type="submit" onClick="student()">All Students</button>
    </body>
   </head>
</html>
